@font-face {
    font-family: "Roboto";
    font-weight: 400;
    font-style: normal;
    src: 
      url("../fonts/roboto.woff") format("woff"),
      url("../fonts/roboto.woff2") format("woff2");
}

@font-face {
    font-family: "Roboto";
    font-weight: 500;
    font-style: normal;
    src: 
      url("../fonts/robotomedium.woff") format("woff"),
      url("../fonts/robotomedium.woff2") format("woff2");
}

@font-face {
    font-family: "Roboto";
    font-weight: 700;
    font-style: normal;
    src: 
      url("../fonts/robotobold.woff") format("woff"),
      url("../fonts/robotobold.woff2") format("woff2");
}

html {
    box-sizing: border-box;
} 

*,
*::after,
*::before {
    box-sizing: inherit
}

body {
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
}

.inner-page {
    background-color: #849d8f;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    color: #ffffff;
    text-decoration-color: rgba(255, 255, 255, 0.3);
}

a:hover,
a:focus,
a:active {
    color: #ffbc9e;
    text-decoration-color: rgba(255, 188, 158, 0.3);
}
.site-wrapper {
    background-color: #849d8f;
    height: 100%;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.button {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    color: #ffffff;
    text-decoration: none;
    border: none;
    outline: 0;
    box-shadow: 0px 2px 2px 0 rgba(85, 8, 0, 0.54);
    background-image: linear-gradient(to top, #ca3824, #f26843);
}

.button:hover,
.button:focus {
    color: #ffffff;
    box-shadow: 0px 1px 2px 0 #ac1000;
    background-image: 
        linear-gradient(to top, #e74a35, #f26843), 
        linear-gradient(to bottom, rgba(255, 255, 255, 0.2), 
        rgba(255, 255, 255, 0.2));
}

.button:active {
    color: #ffffff;
    box-shadow: inset 0px 2px 2px 0 #942718;
    background-image: 
        linear-gradient(to bottom, #e74a35, #f26843), 
        linear-gradient(to bottom, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07));
}

.main-navigation {
    font-weight: 700;
    line-height: 18px;
}

.main-navigation ul {
    padding: 0;
    list-style: none;
}

.main-navigation a {
    color: #ffffff;
    text-decoration: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.main-navigation-item > a:hover,
.main-navigation-item > a:focus {
    color: #000000;
    background-color: #f7f6f3;
    border: none;
}

.main-navigation-item a:active {
    box-shadow: inset 0px 2px 1px 0 #696969;
    background-color: #ededed;
}

.sub-menu {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    background-color: #ffffff;
}

.sub-menu a {
    color: #000000;
}

.sub-menu a:hover,
.sub-menu a:focus {
    background-color: #fbded7;
}

.sub-menu a:active {
    background-color: #f6b5a5;
}

.main-navigation .current,
.main-navigation .current:focus,
.main-navigation .current:hover {
    color: #ffffff;
    background-color: #d07058;
}

.new {
    font-weight: 700;
}

.user-menu form,
.user-menu .cart-items {
    background-color: #f8f7f4;
}

.user-menu input {
    border: 1px solid #d3d3d2;
    font-weight: 700;
    line-height: 24px;
}

.user-menu input:hover {
    border-color: #c7c6c5;
}

.user-menu input::placeholder {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.user-menu-item > .button {
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    color: #ffffff;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: none;
}

.user-menu-item > .button:hover,
.user-menu-item > .button:focus {
    background-color: #f8f7f4;
    color: #323232;
}

.user-menu-item .cart-not-empty {
    background-color: #ffffff;
    color: #000000;
}

.cart-items ul{
    padding: 0;
    list-style: none;
}

.cart-item {
    font-size: 13px;
    line-height: 16px;
    color: #323232;
}

.cart-item-price {
    color: #999999;
}

.total-cost {
    font-size: 15px;
    font-weight: 700;
    line-height: 18px;
}

.cart-items .button {
    color: #ffffff;
}

.user-menu-item a {
    font-size: 13px;
    line-height: 24px;
    color: #000000;
    text-decoration-color: rgba(0, 0, 0, 0.3);
}

.user-menu-item a:hover,
.user-menu-item a:focus,
.user-menu-item a:active {
    color: #e84d37;
    text-decoration-color: rgba(232, 77, 55, 0.2);
}


.work-info {
    font-weight: 700;
    color: #ffffff;
}

.worktime {
    font-size: 14px;
    line-height: 16px;
}

.phone {
    font-size: 22px;
    line-height: 24px;
}
.breadcrumbs {
    padding:0;
    list-style: none;
}
.breadcrumbs-item a{
    font-size: 14px;
    line-height: 16px;
    color: #ffffff;
    text-decoration-color: rgba(255, 255, 255, 0.2);
}

.page-title {
    font-size: 35px;
    font-weight: 700;
    line-height: 41px;
    color: #ffffff;
}

.slider-item:not(:first-child) {
    display: none;
}

.slide-title {
    font-size: 60px;
    font-weight: 700;
    line-height: 60px;
    color: #ffffff;
}

.slider .button {
    font-size: 32px;
    line-height: 44px;
    text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
}

.promo {
    font-weight: 700;
    color: #ffffff;
}

.promo-title {
    font-size: 35px;
    line-height: 41px;
}

.promo-text {
    font-size: 18px;
    line-height: 22px;
}

.promo .raspberry {
    background-image: url("../img/backgrounds/raspberry-bg.jpg");
    background-repeat: no-repeat;
}

.promo .chocolate {
    background-image: url("../img/backgrounds/chocolate-bg.jpg");
    background-repeat: no-repeat;
}

.catalog-items ul{
    padding: 0;
    list-style: none;
}

.catalog-item {
    color: #ffffff;
}

.catalog-item img {
    border-radius: 50%;
}

.catalog-item-name a {
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
}

.catalog-item-name a:hover,
.catalog-item-name a:focus,
.catalog-item-name a:active {
    color: #ffbc9e;
}

.catalog-item .price {
    font-size: 45px;
    font-weight: 700;
    line-height: 45px;
}

.catalog-item .weight {
    font-size: 30px;
}

.catalog-pagination {
    padding: 0;
    list-style: 0;
}

.pagination-number {
    font-weight: 500;
    line-height: 18px;
    color: #ffffff;
    text-decoration: none;
}

.pagination-number:hover,
.pagination-number:focus {
    background-color: rgba(255, 255, 255, 0.2);
    color: #ffffff;
}

.pagination-number:active,
.pagination-number:not([href]) {
    background-color: #ffffff;
    color: #323232;
} 

.shop-info {
    background-color: #eee2cb;
    background-image: url("../img/backgrounds/waffle-pattern-bg.jpg");
}

.shop-info ul {
    padding: 0;
    list-style: none;
}

.shop-info .lead {
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
}

.shop-info-paragraph {
    line-height: 22px;
}

.blog {
    background-color: #ffffff;
    background-image: url("../img/backgrounds/strawberry-bg.jpg");
    background-repeat: no-repeat;
}

.label-new {
    font-weight: 500;
    line-height: 22px;
}

.blog-title a {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    color: #000000;
    text-decoration-color: #000000;
}

.blog-title a:hover,
.blog-title a:focus,
.blog-title a:active{
    color: #e84d37;
    text-decoration-color: rgba(232, 77, 55, 0.2);
}

.subscribe {
    background-color: #f8f7f4;
    border: 5px solid transparent;
}

.subscribe-paragraph {
    line-height: 22px;
    color: #5a5a5a;
}

.subscribe input {
    font-weight: 700;
    line-height: 24px;
    border: 1px solid rgba(178, 178, 178, 0.52);
}

.subscribe input:hover {
    border-color: #c7c6c5;
}

.subscribe input::placeholder {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.contacts {
    background-color: #ffffff;
}

.contacts-info {
    font-size: 14px;
    line-height: 20px;
    color: #323232;
}

.contacts-data {
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    line-height: 24px;
    color: #323232;
}

.social ul{
    padding: 0;
    list-style: none;
}

.social-button {
    font-size: 16px;
    width: 32px;
    height: 32px;
    display: block;
    opacity: 0.8;
}

.social-button:hover,
.social-button:focus {
    opacity: 1;
}

.social-button:active {
    opacity: 0.7;
}

.twitter {
    background-image: url("../img/icons/twitter.svg");
}

.instagram {
    background-image: url("../img/icons/instagram.svg");
}

.facebook {
    background-image: url("../img/icons/fb.svg");
}

.vk {
    background-image: url("../img/icons/vk.svg");
}

.info-links ul{
    padding: 0;
    list-style: 0;
}

.info-link a {
    font-size: 13px;
    line-height: 18px;
}

.suppliers {
    font-weight: 700;
}

.developer-info {
    font-size: 12px;
    line-height: 18px;
    color: #fefefe;
}

.modal {
    display: none;
}