@font-face {
    font-family: "Roboto";
    font-weight: 400;
    font-style: normal;
    src: 
      url("../fonts/roboto.woff2") format("woff2"),
      url("../fonts/roboto.woff") format("woff");
}

@font-face {
    font-family: "Roboto";
    font-weight: 500;
    font-style: normal;
    src: 
      url("../fonts/robotomedium.woff2") format("woff2"),
      url("../fonts/robotomedium.woff") format("woff");
}

@font-face {
    font-family: "Roboto";
    font-weight: 700;
    font-style: normal;
    src: 
      url("../fonts/robotobold.woff2") format("woff2"),
      url("../fonts/robotobold.woff") format("woff");
}

html {
    box-sizing: border-box;
} 

*,
*::after,
*::before {
    box-sizing: inherit
}

body {
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
    line-height: 18px;
    margin: 0;
    padding: 0;
    min-width: 1200px;
    background-repeat: no-repeat;
    background-position: 50% 0%;
    transition: background 0.5s ease;
    position: relative;
}

body::before,
body::after {
    content: "";
    visibility: hidden;
}

body::before {
    background-image: url("../img/slider/slide-2.png");
}

body::after {
    background-image: url("../img/slider/slide-3.png");
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 27px;
    position: relative;
}

.slide-1 {
    background-color: #849d8f;
    background-image: url("../img/slider/slide-1.png");
}

.slide-2 {
    background-color: #8996a6;
    background-image: url("../img/slider/slide-2.png");
}

.slide-3 {
    background-color: #9d8b84;
    background-image: url("../img/slider/slide-3.png");
}

.inner-page {
    background-image: url("../img/backgrounds/inner-light.png");
}

img {
    max-width: 100%;
    height: auto;
}

a {
    color: #ffffff;
    text-decoration-color: rgba(255, 255, 255, 0.3);
}

a:hover,
a:focus,
a:active {
    color: #ffbc9e;
    text-decoration-color: rgba(255, 188, 158, 0.3);
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.button {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    color: #ffffff;
    text-decoration: none;
    padding: 10px 23px;
    border: none;
    border-radius: 22px;
    outline: 0;
    box-shadow: 0px 1px 2px 0px rgba(172, 16, 0, 0.004);
    background-image: linear-gradient(to top, #ca3824, #f26843);
}

.button:hover,
.button:focus {
    color: #ffffff;
    box-shadow: 0px 1px 2px 0 #ac1000;
    background-image: 
        linear-gradient(to top, #e74a35, #f26843), 
        linear-gradient(to bottom, rgba(255, 255, 255, 0.2), 
        rgba(255, 255, 255, 0.2));
}

.button:active {
    color: #ffffff;
    box-shadow: inset 0px 2px 2px 0 #942718;
    background-image: 
        linear-gradient(to bottom, #e74a35, #f26843), 
        linear-gradient(to bottom, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07));
}

.main-header {
    display: flex;
    position: relative;
    align-items: center;
    margin-bottom: 20px;
}

.main-header.container {
    padding-top: 9px;
}

.logo {
    margin-right: 9px;
}

.main-navigation {
    font-weight: 700;
    margin-right: auto;
    margin-top: -5px;
}

.main-navigation > ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.main-navigation a {
    display: block;
    color: #ffffff;
    text-decoration-color: rgba(255, 255, 255, 0.2);
    
}
.main-navigation-item > a {
    padding: 6px 14px 8px;
    border-radius: 16px;
    margin-bottom: 5px;
    outline: 0;
}

.main-navigation-item:hover > a,
.main-navigation-item > a:focus {
    color: #000000;
    background-color: #f7f6f3;
    border: none;
    text-decoration: none;
}

.main-navigation-item > a:active {
    box-shadow: inset 0px 2px 1px 0 #696969;
    background-color: #ededed;

}

.dropdown {
    position: relative;
}

.sub-menu {
    display: none;
    list-style: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    position: absolute;
    top: 100%;
    left: -7px;
    background-color: #ffffff;
    padding: 7px 0;
    border-radius: 5px;
    box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
    z-index: 1;
    flex-direction: column;
}

.dropdown:hover .sub-menu,
.dropdown a:focus + .sub-menu {
    display: block;
}

.new::after {
    content: "";
    display: block;
    width: 90%;
    height: 1px;
    margin: 0 auto;
    color: rgba(0, 0, 0, 0.4);
    background-color: rgba(0, 0, 0, 0.4);
    border: none;
}

.sub-menu > * {
    margin-bottom: 3px;
}

.sub-menu a {
    line-height: 16px;
    color: #000000;
    padding: 6px 20px;
    width: 143px;
    text-decoration: none;
}

.sub-menu a:hover,
.sub-menu a:focus {
    background-color: #fbded7;
}

.sub-menu a:active {
    background-color: #f6b5a5;
}

.main-navigation .current,
.main-navigation .current:focus,
.main-navigation:hover .current {
    color: #ffffff;
    background-color: #d07058;
    text-decoration: none;
}

.new {
    font-weight: 700;
}

.user-menu {
    display: flex;
    justify-content: flex-end;
    margin-right: -10px;
    margin-top: -4px;
}

.user-menu-item {
    position: relative;
    margin-right: 10px;
}

.user-menu-item form,
.user-menu-item .cart-items {
    display: none;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 100%;
    z-index: 1;
    background-color: #f8f7f4;
    border-radius: 5px;
    padding: 20px 15px;
    box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.user-menu-item:hover form,
.user-menu-item:hover .cart-items,
.user-menu-item .user-menu-button:focus + form,
.user-menu-item .user-menu-button:focus + .cart-items {
    display: flex;
    z-index: 1;
}

.search-button + form {
    width: 340px;
} 


.search-button + form input{
    margin-bottom: 0px;
}

.login-button + form {
    width: 280px;
}

.cart-button + .cart-items {
    width: 540px;
}

.user-menu-item input {
    border: 1px solid #d3d3d2;
    font-weight: 700;
    line-height: 24px;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 10px 15px;
    width: 100%;
    outline: none;
}

.user-menu-item input:hover {
    border-color: #c7c6c5;
    box-shadow: inset 0 0 0 1px #c7c6c5;
}

.user-menu-item input:focus {
    border-color: rgba(46, 136, 228, 0.52);
    box-shadow: inset0 0 0 1px rgba(46, 136, 228, 0.52);
}

.user-menu-item input:-ms-input-placeholder {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #999999;
}

.user-menu-item input::-ms-input-placeholder {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #999999;
}


.user-menu-item input::-webkit-input-placeholder {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #999999;
}

.user-menu-item input::placeholder {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #999999;
}

.user-menu-item  .user-menu-button {
    display: block;
    padding: 8px 16px 8px 45px;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.2);
    background-repeat: no-repeat;
    background-position: 16px 50%;
    text-decoration: none;
    border-radius: 16px;
    margin-bottom: 5px;
    outline: none;
}

.user-menu-item:hover  .user-menu-button,
.user-menu-item  .user-menu-button:focus {
    background-color: #f8f7f4;
    color: #323232;
}

.user-menu-item .search-button {
    width: 32px;
    height: 32px;
    padding: 0;
    background-image: url("../img/icons/loupe.svg");
    background-position: center;
}

.user-menu-item:hover  .search-button,
.user-menu-item  .search-button:focus {
    background-image: url("../img/icons/loupe-black.svg")
}
.user-menu-item  .login-button {
    background-image: url("../img/icons/entrance.svg");
}

.user-menu-item:hover  .login-button,
.user-menu-item  .login-button:focus {
    background-image: url("../img/icons/entrance-black.svg");
}

.user-menu-item  .cart-button {
    background-image: url("../img/icons/basket.svg");
}

.user-menu-item:hover  .cart-button,
.user-menu-item  .cart-button:focus {
    background-image: url("../img/icons/basket-black.svg");
}

.user-menu-item .cart-not-empty,
.user-menu-item:hover .cart-not-empty, 
.user-menu-item .cart-not-empty:focus {
    background-color: #ffffff;
    background-image: url("../img/icons/basket-red.svg");
    color: #000000;
}

.cart-items {
    align-items: flex-end;;
}

.cart-items ul {
    align-self: stretch;
    margin: 0;
    padding: 0;
    list-style: none;
    border-bottom: 1px solid #cacac7;
}

.cart-item {
    display: flex;
    font-size: 13px;
    line-height: 16px;
    color: #323232;
    margin-bottom: 11px;
}

.cart-item .button-delete {
    padding: 0;
    border: 0;
    width: 11px;
    height: 11px;
    margin-right: 15px;
    margin-top: 10px;
    position: relative;
    background: none;
    outline: none;
    cursor: pointer;
    opacity: 0.8;
}

.cart-item .button-delete:hover {
    opacity: 1;
}

.cart-item .button-delete:active {
    opacity: 0.4;
}

.cart-item .button-delete::before,
.cart-item .button-delete::after {
    content: "";
    width: 12px;
    height: 2px;
    position: absolute;
    left: -1px;
    top: 4px;
    background-color: #535050;
}

.cart-item .button-delete::before {
    transform: rotate(45deg);
}

.cart-item .button-delete::after {
    transform: rotate(-45deg);
}

.cart-item-name {
    width: 264px;
    margin: 0;
    margin-right: 30px;
    padding-left: 48px;
    padding-top: 8px;
    padding-bottom: 9px;
    background-repeat: no-repeat;
    background-position: top left;
}

.cart-item:nth-child(1) .cart-item-name{
    background-image: url("../img/backgrounds/cart-1.png");
}

.cart-item:nth-child(2) .cart-item-name{
    background-image: url("../img/backgrounds/cart-2.png");
}

.cart-item-weight {
    margin: 0;
    margin-right: auto;
    padding-top: 8px;
    padding-bottom: 9px;
}

.cart-item-price {
    color: #999999;
}

.cart-item-cost {
    margin: 0;
    padding-top: 8px;
    padding-bottom: 9px;
}

.total-cost {
    font-size: 15px;
    font-weight: 700;
    
}

.cart-items .button {
    color: #ffffff;
}

.login-options {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.login-options a {
    display: block;
    font-size: 13px;
    line-height: 24px;
    color: #323232;
    text-decoration-color: rgba(0, 0, 0, 0.3);
}

.login-options a:hover,
.login-options a:focus,
.login-options a:active {
    color: #e84d37;
    text-decoration-color: rgba(232, 77, 55, 0.2);
}


.work-info {
    position: absolute;
    width: 267px;
    right: 27px;
    top: 100%;
    margin-top: -4px;
    font-weight: 700;
    color: #ffffff;
    text-align: right;
}

.work-time {
    font-size: 14px;
    line-height: 16px;
    margin: 0;
    margin-bottom: 4px;
}

.phone {
    font-size: 22px;
    line-height: 24px;
    margin: 0;
}

.breadcrumbs {
    margin: 0;
    margin-bottom: 2px;
    padding:0;
    list-style: none;
    display: flex;
}

.breadcrumbs-item:not(:last-child)::after {
    content: "»";
    color: #ffffff;
    margin: 0px 6px;
}

.breadcrumbs-item a{
    font-size: 14px;
    line-height: 16px;
}

.breadcrumbs-item a:not([href]):hover {
    color: #ffffff;
}

.page-title {
    font-size: 35px;
    font-weight: 700;
    line-height: 41px;
    color: #ffffff;
    margin: 0;
    margin-bottom: 28px;
}

.slider {
    position: relative;
    margin-bottom: 40px;
}

.slider-item {
    display: none;
    flex-direction: column;
    align-items: center;
}

.slider-item[data-active] {
    display: flex;
}

.slide-title {
    font-size: 60px;
    font-weight: 700;
    line-height: 60.5px;
    text-align: center;
    color: #ffffff;
    width: 700px;
    margin-top: 293px;
    margin-bottom: 33px;
}

.slider-pagination {
    display: flex;
    position:absolute;
    bottom: 22px;
    left: 0; 
    color: #ffffff;
    list-style: none;
    margin: 0;
    padding: 0;
}

.slider-pagination li{
    margin-right: 8px;
}
.slider-pagination .slider-button {
    width: 21px;
    height: 21px;
    border: 2px solid #ffffff;
    border-radius: 50%;
    cursor: pointer;
    background-color: transparent;
    outline: none;
}

.slider-pagination .slider-button:not([disabled]):hover,
.slider-pagination .slider-button:focus {
    background-color: rgba(248, 247, 244, 0.4); 
}

.slider-pagination .slider-button[disabled],
.slider-pagination .slider-button:not([disabled]):active {
    background-color: #ffffff;
}

.slider-pagination .slider-button[disabled] {
    cursor: default;
}

.slider .button {
    font-size: 32px;
    line-height: 44px;
    padding: 10px 42px;
    border-radius: 32px;
    text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
    
}

.promo {
    font-weight: 700;
    color: #ffffff;
    display: flex;
    margin-right: -26px;
    margin-bottom: 40px;
}

.promo-item {
    display: flex;
    flex-direction: column;
    width: 560px;
    margin-right: 26px;
    padding: 14px 19px;
    border-radius: 15px;
    background-size: cover;
}

.promo-title {
    font-size: 35px;
    line-height: 41px;
    margin: 0;
    margin-bottom: 16px;
}

.promo-text {
    font-size: 18px;
    line-height: 22px;
    margin: 0;
    margin-bottom: 46px;
}

.promo-item .button {
    margin-bottom: 8px;
    margin-right: 2px;
    align-self: flex-end;
    padding: 8px 23px 14px;
}

.chocolate .button {
    padding: 8px 22px 14px;
}

.promo .raspberry {
    background-color: #9f0726;
    background-image: url("../img/backgrounds/raspberry-bg.jpg");
    background-repeat: no-repeat;
}

.promo .chocolate {
    background-color: #341c12;
    background-image: url("../img/backgrounds/chocolate-bg.jpg");
    background-repeat: no-repeat;
}

.catalog-items {
    margin-bottom: 26px;
}

.catalog-items ul{
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    margin-right: -27px;
    margin-bottom: -27px;
    position: relative;
    z-index: 0;
}

.catalog-item {
    color: #ffffff;
    width: 266px;
    margin-right: 27px;
    margin-bottom: 27px;
    position: relative;
}

.catalog-item:hover::before {
    content: "";
    width: 293px;
    height: calc(100% + 6px);
    position: absolute;
    top: -6px;
    left: -13px;
    z-index: -1;
    background-color: rgba(248, 247, 244, 0.2);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.catalog-item.hit::after {
    content: "";
    width: 61px;
    height: 61px;
    background-image: url("../img/icons/hit.svg");
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;

} 

.catalog-item img {
    border-radius: 50%;
}

.catalog-item-name {
    text-align: center;
    margin-top: 12px;
    margin-bottom: 11px;
    width: 262px;
}

.catalog-item-name a {
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    
}

.catalog-item-name a:hover,
.catalog-item-name a:focus,
.catalog-item-name a:active {
    color: #ffbc9e;
}

.catalog-item .price {
    position: absolute;
    left: 0;
    top: 207px;
    font-size: 45px;
    font-weight: 700;
    line-height: 45px;
    margin: 0;
}

.catalog-item-weight {
    font-size: 30px;
}

.catalog-item-hover {
    display: none;
    position: absolute;
    top: 100%;
    margin-top: 0px;
    left: -13px;
    z-index: 1;
    width: 293px;
    justify-content: center;
    background-color: rgba(248, 247, 244, 0.2);
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.catalog-item:hover .catalog-item-hover {
    display: flex;
}

.catalog-item .button {
    margin-bottom: 20px;
}

.catalog-pagination {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 33px;
    margin-top: 73px;
}

.pagination-item {
    margin-right: 1px;
}

.pagination-item a {
    font-weight: 500;
    line-height: 18px;
    color: #ffffff;
    text-decoration: none;
    padding: 4px 9px;
    border-radius: 50%;
}

.pagination-item a:not(.pagination-arrow):hover,
.pagination-item a:not(.pagination-arrow):focus {
    background-color: rgba(255, 255, 255, 0.2);
    color: #ffffff;
}

.pagination-item a:not(.pagination-arrow):active,
.pagination-item a:not([href]):not(.pagination-arrow) {
    background-color: #ffffff;
    color: #323232;
} 

.pagination-item .pagination-arrow {
    display: block;
    width: 10px;
    height: 10px;
    padding: 0;
    border-bottom: 2px solid #ffffff;
    border-left: 2px solid #ffffff;
    border-radius: 0;
}

.pagination-item .pagination-arrow:not([href]) {
    opacity: 0.2;
}

.pagination-item .arrow-back {
    transform: rotate(45deg);
    margin-right: 15px;
}

.pagination-item .arrow-forward {
    transform: rotate(-135deg);
    margin-left: 15px;
}

.pagination-item .pagination-arrow[href]:hover {
    opacity: 0.5;
}

.about-us {
    display: flex;
    flex-wrap: wrap;
    margin-right: -26px;
    
}

.about-us-item {
    margin-right: 26px;
    margin-bottom: 41px;
}

.shop-info {
    background-color: #eee2cb;
    background-image: url("../img/backgrounds/waffle-pattern-bg.jpg");
    padding: 25px 20px;
    padding-bottom: 13px;
    border-radius: 15px;
    width: 1146px;
    color: #323232;
}

.shop-info ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex; 
    flex-wrap: wrap;
    margin-right: -26px;
    margin-bottom: 1px;
}

.shop-info-lead {
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
    margin: 0;
    margin-bottom: 9px;
}

.shop-info-paragraph {
    line-height: 22px;
    width: 540px;
    margin-right: 26px;
    margin-bottom: 10px;
    padding-left: 56px;
    padding-top: 13px;
    background-repeat: no-repeat;
    background-position: top left;
}

.shop-info-paragraph:nth-child(1) {
    background-image: url("../img/icons/ice-cream.svg");
}

.shop-info-paragraph:nth-child(2) {
    background-image: url("../img/icons/cow.svg");
}

.shop-info-paragraph:nth-child(3) {
    background-image: url("../img/icons/eco.svg");
}

.shop-info-paragraph:nth-child(4) {
    background-image: url("../img/icons/thermometer.svg");
}

.blog {
    width: 560px;
    padding: 24px 20px;
    background-color: #ffffff;
    background-image: url("../img/backgrounds/strawberry-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    color: #323232;
}

.blog-label-new {
    font-weight: 500;
    line-height: 22px;
    margin: 0;
    margin-bottom: 3px;
}

.blog-title {
    width: 280px;
    margin: 0;
}

.blog-title a {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    color: #323232;
    text-decoration-color: #323232;
}

.blog-title a:hover,
.blog-title a:focus,
.blog-title a:active{
    color: #e84d37;
    text-decoration-color: rgba(232, 77, 55, 0.2);
}

.subscribe {
    background-color: #f8f7f4;
    width: 560px;    
    border: 5px solid transparent;
    border-radius: 15px;
    padding: 30px 21px;
    background-clip: padding-box;
    position: relative;
}

.subscribe::before {
    content: "";
    position: absolute;
    top: -5px;
    right: -5px;
    bottom: -5px;
    left: -5px;
    z-index: -1;
    border-radius: 10px;
    background-color: inherit;
    background-image: 
        repeating-linear-gradient(
        135deg,
        transparent 0px, transparent 6px,
        #92cdff 6px, #92cdff 12px, 
        transparent 12px, transparent 18px, 
        #fe9e90 18px, #fe9e90 24px);
}

.subscribe-paragraph {
    line-height: 22px;
    color: #5a5a5a;
    margin: 0;
    margin-bottom: 35px;
}
.subscribe form {
    display: flex;
    margin-bottom: 4px;
}

.subscribe input {
    font-weight: 700;
    line-height: 24px;
    margin-right: 10px;
    padding: 8px 15px 12px;
    border: 1px solid rgba(178, 178, 178, 0.52);
    border-radius: 5px;
    flex-grow: 1;
    outline: none;
}

.subscribe input:hover {
    border-color: #c7c6c5;
    box-shadow: inset 0 0 0 1px #c7c6c5;
}

.subscribe input:focus {
    border-color: rgba(46, 136, 228, 0.52);
    box-shadow: inset 0 0 0 1px rgba(46, 136, 228, 0.52);;
}

.subscribe input:-ms-input-placeholder {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #999999;
}

.subscribe input::-ms-input-placeholder {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #999999;
}

.subscribe input::-webkit-input-placeholder {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #999999;
}
.subscribe input::placeholder {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #999999;
}

.subscribe .button {
    padding: 6px 18px 14px;
}

.map-contacts {
    position: relative;
}

.map {
    width: 100%;
    height: 430px;
}

.map iframe {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    border:0;
}

.map img {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -600px;
    z-index: 0;
}

.map::after {
    content: url("../img/icons/pin.svg");
    position: absolute;
    top: 140px;
    left: 50%;
    margin-left: -335px;
}

.contacts {
    display: flex;
    flex-direction: column;
    width: 302px;
    position: absolute;
    top: 62px;;
    left: 50%;
    margin-left: 271px;
    z-index: 2;
    padding: 29px 25px 24px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.contacts-info {
    font-size: 14px;
    line-height: 20px;
    color: #323232;
    margin: 0;
    margin-bottom: 1px;
}

.contacts-data {
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    line-height: 24px;
    color: #323232;
    margin: 0;
    margin-bottom: 18px;
}
.contacts-info:nth-child(3) {
    margin-bottom: 4px;
}
.contacts-data:nth-child(4) {
    margin-bottom: 2px;
}

.contacts .button {
    margin-top: 25px;
    margin-bottom: 5px;
    padding: 7px 27px 14px;
}

.main-footer {
    display: flex;
    justify-content: space-between;
    align-self: center;
    margin-top: 25px;
    padding-bottom: 25px;
}

.social {
    width: 267px;
    margin-top: 14px;
    margin-left: -1px;
}

.social ul{
    width: 267px;
    margin: 0;
    margin-left: 5px;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin-right: -11px;
    margin-bottom: -7px;
}

.social li {
    margin-right: 17px;
    
}

.social-button {
    box-sizing: content-box;
    font-size: 16px;
    width: 32px;
    height: 32px;
    display: block;
    opacity: 0.8;
    border-radius: 50%;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.5);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

.social-button:hover,
.social-button:focus {
    opacity: 1;
}

.social-button:active {
    opacity: 0.7;
}

.twitter {
    background-image: url("../img/icons/twitter.svg");
}

.instagram {
    background-image: url("../img/icons/instagram.svg");
}

.facebook {
    background-image: url("../img/icons/fb.svg");
}

.vk {
    background-image: url("../img/icons/vk.svg");
}

.info-links {
    width: 560px;
    margin-top: 6px;
}

.info-links ul {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.info-link {
    padding: 0 5px;
    margin-bottom: 5px;
}

.info-link:nth-child(2n) {
    width: 175px;
}

.info-link:nth-child(2n+1) {
    width: 145px;
    margin-left: 122px;
}

.info-link a {
    font-size: 13px;   
}

.suppliers {
    font-weight: 700;
    position: relative;
}

.suppliers::before {
    content: "";
    position: absolute;
    top: 5px;
    right: 100%;
    width: 15px;
    height: 13px;
    background-image: url("../img/icons/heart.svg");
    background-repeat: no-repeat;
}

.developer-info {
    width: 267px;
    font-size: 12px;
    color: #fefefe;
    padding-left: 78px;
    margin-top: -5px;
}

.developer-info p {
    margin: 0;
}

.modal {
    display: none;
}

.modal-show {
    display: block;
    position: fixed;
    animation: modal-appearance 0.5s;
    
}

.modal-error {
    animation: error-modal 0.6s;
}

.catalog {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    margin-bottom: 25px;
}

.catalog-options {
    width: 879px;
    margin-right: -14px;
    margin-bottom: 21px;
}

.catalog-options form {
    display: flex;
    flex-wrap: wrap; 
}

.catalog-options-section {
    border: none;
    color: #ffffff;
    font-weight: 500;
    padding: 0;
    margin: 0;
    margin-right: 13px;
    margin-bottom: 18px;
}

.catalog-options-section legend,
.catalog-options-section .price-controls {
    font-size: 14px;
    line-height: 16px;
    margin: 0;
    margin-bottom: 5px;  
    padding-left: 15px;  
}

.catalog-options-section.select {
    width: 194px;
}

.catalog-options-section select {
    width: 194px;
    border: none;
    background-color: rgba(255, 255, 255, 0.2);
    background-image: url("../img/icons/select-arrow.svg");
    background-repeat: no-repeat;
    background-position: 92% 55%;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
    line-height: 18px;
    padding: 10.2px 30px 9.2px 14px;
    border-radius: 19px;
    color: #ffffff;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
}

.catalog-options-section select::-ms-expand {
display: none;
}

.catalog-options-section select:hover {
    color: #000000;
    background-image:  url("../img/icons/select-arrow-black.svg");
}

.catalog-options-section select:focus {
    color: #000000;
    background-color: #ffffff;
    background-image:  url("../img/icons/select-arrow-black.svg");
    outline: none;
}

.catalog-options-section option {
    color: #000000;
}

.range-filter input {
    width: 27px;
    padding: 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    color: #ffffff;
    background-color: transparent;
    border: none;
}

.range-filter .range-controls {
    width: 220px;
    padding: 16.5px 22px;
}

.range-controls .scale {
    width: 176px;
    height: 4px;
    background-color: rgba(248, 247, 244, 0.5);
}

.range-filter .bar {
    height: 4px;
    margin-left: 16px;
    margin-right: 53px;    
    background-color: #f8f7f4;
    position: relative;
}

.range-filter .toggle {
    width: 20px;
    height: 20px;
    border: 8px solid #ffffff;
    border-radius: 50%;
    background-color: #ababab;
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50%;
    margin-top: -10px;
    cursor: pointer;
}

.range-filter .toggle:hover {
    width: 24px;
    height: 24px;
    margin-top: -12px;
    border-width: 9.5px;
}
.range-filter .toggle-min {
    left: -3px;
}
.range-filter .toggle-min:hover {
    left: -5px;
}

.range-filter .toggle-max {
    right: -10px;
}

.range-filter .toggle-max:hover {
    right: -12px;
}

.catalog-options-fieldset,
.range-controls {
    display: flex;
    border-radius: 19px;
    background-color: rgba(255, 255, 255, 0.2);
}

.catalog-options-fieldset {
    padding: 0 15px;
}

.catalog-options-fieldset label {
    display: block;
    padding-top: 9.2px;
    padding-bottom: 10.2px;
    padding-left: 34px;
    margin-right: 16px;
    position: relative;
    cursor: pointer;
}


.catalog-options-fieldset input:disabled + label,
.catalog-options-fieldset input:disabled + label:before,
.catalog-options-fieldset input:disabled + label:after {
    opacity: 0.4;
    cursor: default;
}

.catalog-options-fieldset label::before,
.catalog-options-fieldset label::after {
    opacity: 0.8;
}

.catalog-options-fieldset label:hover::before,
.catalog-options-fieldset label:hover::after,
.catalog-options-fieldset input:focus + label::before, 
.catalog-options-fieldset input:focus + label::after {
    opacity: 1;
}

.catalog-options-fieldset label:active::before,
.catalog-options-fieldset label:active::after {
    opacity: 0.4;
}

.catalog-options-fieldset.fill label {
    margin-right: 18px;
}

.catalog-options-fieldset.fill label:nth-of-type(3)  {
    margin-right: 22px;
}

.catalog-options-fieldset label:last-child {
    margin-right: 0;
}


.catalog-options-section input[type="radio"] + label::before {
    content: "";
    width: 22px;
    height: 22px;
    border: 3px solid white;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -13px;
}

.catalog-options-section input[type="radio"]:checked + label::before {
    background-image: radial-gradient(#ffffff 4px, transparent 5px);
}

.catalog-options-section input[type="checkbox"] + label::before {
    content: "";
    width: 20px;
    height: 20px;
    border: 2px solid #ffffff;
    border-radius: 2px;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -11px;
}

.catalog-options-section input[type="checkbox"]:checked + label::after {
    content: "";
    width: 17px;
    height: 12px;
    border-left: 4px solid #ffffff;
    border-bottom: 4px solid #ffffff;
    box-shadow: 
        -1px 1px 0 0 #a8b9af, 
        inset 1px -1px 0 0 #a8b9af; 
    transform: rotate(-45deg);
    position: absolute;
    left: 4px;
    top: 50%;
    margin-top: -11px;
}
.catalog-options form > .button {
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    color: #ffffff;
    box-shadow: none;
    background: rgba(255, 255, 255, 0.2);
    border: 2px solid #ffffff;
    padding: 7.7px 28px;
    margin-top: 21px;
    margin-left: 4px;
    align-self: flex-start;
}

.catalog-options form > .button:hover,
.catalog-options form > .button:focus {
    color: #323232;
    background-color: #f8f7f4;
}

.catalog-options form > .button:active {
    color: #323232;
    box-shadow: inset 0px 2px 1px 0 #696969;
    background-color: #ededed;
    border: none;
    padding: 9.7px 30px;
}

.overlay {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 4;
    background-color: rgba(0, 0, 0, 0.3);
}

.overlay-show {
    display: block;
}

.write-us {
    font-size: 16px;
    top: 20%;
    left: 50%;
    z-index: 5;
    margin-left: -239px;
    padding: 20px 27px;
    width: 478px;
    background-color: #f8f7f4;
    border-radius: 10px;
    box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.write-us .write-us-title {
    display: block;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 20px;
}

.write-us form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
}
.write-us form > * {
    margin-bottom: 20px;
} 

.write-us input:hover:not(:focus),
.write-us textarea:hover{
    border-color: #c7c6c5;
    box-shadow: inset 0 0 0 1px #c7c6c5;
}

.write-us input:focus,
.write-us textarea:focus {
    border-color: rgba(46, 136, 228, 0.52);
    box-shadow: inset0 0 0 1px rgba(46, 136, 228, 0.52);
    outline: none;
}

.write-us input:-ms-input-placeholder,
.write-us textarea:-ms-input-placeholder {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.write-us input::-ms-input-placeholder,
.write-us textarea::-ms-input-placeholder {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
} 

.write-us input::-webkit-input-placeholder,
.write-us textarea::-webkit-input-placeholder {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.write-us input::placeholder,
.write-us textarea::placeholder {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.write-us input,
.write-us textarea {
    border: 1px solid #d3d3d2;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    border-radius: 5px;
    padding: 10px 15px;
    outline: none;
} 

.write-us input {
    width: 267px;
    height: 46px;
}

.write-us textarea {
    width: 428px;
    resize: none;
    height: 142px;
}

.write-us .button {
    align-self: flex-end;
    margin-bottom: 0;
}

.write-us .button-close {
    position: absolute;
    top: 15px;
    right: 15px;
    border: none;
    background: none;
    width: 18px;
    height: 18px;
    outline: none;
    cursor: pointer;
    opacity: 0.8;
}

.write-us .button-close:hover {
    opacity: 1;
}

.write-us .button-close:active {
    opacity: 0.4;
}

.write-us .button-close::before,
.write-us .button-close::after {
    content: "";
    width: 25px;
    height: 2px;
    position: absolute;
    top: 8px;
    left: -3px;
    background-color: #000000;
}

.write-us .button-close::before {
    transform: rotate(45deg);
}

.write-us .button-close::after {
    transform: rotate(-45deg);
}

@keyframes modal-appearance {
    0% {
        transform: translateY(-2000px) scale(0.1);
    }
    70% {
        transform: scaleX(0.5) scaleY(0.7);
    }
    85% {
        transform: translateY(50px) scaleX(0.7) scaleY(1);
    }
    100% {
        transform: translateY(0) scale(1);
    }
}

@keyframes error-modal {
    0%,
    100% {
        transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translateX(-10px);
    }
    20%,
    40%,
    60%,
    80% {
        transform: translateX(10px);
    }
}